<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dynamic Pricing Assistant</title>
    <link rel="icon" href="/icon.png" type="image/png">
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= vite_client_tag %>
    <%= vite_javascript_tag "application.tsx" %>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
